* {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  min-width: 100vw;
  min-height: 100vh;
  color: #e5e7eb;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.one {
  background-color: #1f2933;
  width: 100%;
  padding: 10px 50px 70px 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
ul {
  display: flex;
  list-style: none;
  gap: 16px;
}
li {
  font-size: 18px;
  text-decoration: none;
}

.first-content {
  display: flex;
  margin-top: 150px;
  justify-content: space-between;
  align-items: center;
}

.case-1 {
  width: 35%;
}

.case-2 {
  width: 550px;
  height: 200px;
  background-color: #727477;
}
.case-2 p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #e5e7eb;
}
h1 {
  font-size: 48px;
  font-weight: bold;
}
button {
  background-color: #3882f6;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
}

.two {
  padding: 50px;
  /* display: flex; */
  /* justify-content: center;
    align-items: center; */
}
.two h2 {
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  margin-top: 50px;
  color: #1f2937;
}
.information {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}
.cadre-info {
  height: 200px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cadre-info p {
  text-align: center;
  color: #1f2933;
}
.info {
  height: 120px;
  width: 120px;
  border: 4px solid #3882f6;
  border-radius: 10px;
}
.three {
  background-color: #e5e7eb;
  padding: 100px;
}
quote {
  color: #1f2933;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2933;
}
.three p {
  text-align: right;
  font-weight: bold;
  color: #1f2933;
  margin-top: 10px;
  font-size: 20px;
}

.four {
}
.call-to-action {
  background-color: #3882f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  margin: 70px auto;
  width: 900px;
  border-radius: 10px;
  color: white;
}

.call-to-action button {
  border: 2px solid white;
  margin-left: 50px;
}
.call-to-action p {
  color: #dcdfe4;
}
.five {
  background-color: #1f2933;
  color: #dcdfe4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
